*{
  margin: 0;
}

body{
  background-color: #151515;
}

.navigation-bar{
  height: 50px;
  width: 100%;
  background-color: black;

}

.navbar-container{
  display: flex;
  align-items: center;
  height: 100%;
  padding: 0 50px;
  color: white;
}

.logo-container{
  flex: 1;
}

.logo{
  font-size: 30px;
  color: #4dbf00;
}

.menu-container{
  flex: 6;
}

.menu-list{
  display: flex;
  list-style: none;
}

.menu-list-item{
  margin-right: 30px;
}

.menu-list-item.active{
  font-weight: bold;
}

.profile-container{
  flex: 2;
  justify-content: flex-end;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.profile-picture{
  width: 32px;
  height: 32px;
  border-radius: 50%;
  object-fit: cover;
}

.profile-text-container{
  margin: 0 20px;
}

.toggle{
  width: 40px;
  height: 20px;
  background-color: white;
  border-radius: 30px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: relative;
}

.toggle-icon{
  color: goldenrod;
}

.toggle-ball{
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background-color: black;
  position: absolute;
  right: 1px;
}

.sidebar{
  height: 100%;
  width: 50px;
  background-color: black;
  position: fixed;
  top: 0;
  display: flex;
  flex-direction: column;
  padding-top: 100px;
  align-items: center;
}

.sidebar-icons{
  color: white;
  font-size: 20px;
  margin-bottom: 45px;
}

.container{
  min-height: calc(100vh - 50px);
  background-color: #151515;
  color: white;

}

.content-container{
  margin-left: 50px;
}

.featured-content{
  height: 50vh;
  padding: 50px;
}

.featured-title{
  width: 200px;
}

.featured-desc{
  width: 500px;
  color: lightgray;
  margin: 30px 0;
}

.featured-button{
  background-color: #4dbf00;
  color: white;
  padding: 10px 20px;
  border-radius: 10px;
  border: none;
  outline: none;
  font-weight: bold;
}

.movie-container{
  padding-left: 70px;
  margin-bottom: 20px
}

.movie-list-wraper{
  position:relative;
  overflow: hidden;
}

.movie-list{
  display: flex;
  transform: translateX(0);
  transition: 1s all ease-in-out;
}

.movie-list-title{
  font-weight: bold;
  color: white;
  margin: 30px 0;
}

.movie-list-item{
  border-radius: 20px;
  margin-right: 30px;
  position:relative;
}

.movie-list-item:hover .movie-img{
  transform: scale(1.2);
  margin: 0 30px;
  opacity: 0.5;
}

.movie-img{
  border-radius: 20px;
  transition: all 1s ease-in-out;
  width: 270px;
  height: 200px;
  object-fit: cover;
}

.movie-list-item:hover .movie-name,
.movie-list-item:hover .movie-desc,
.movie-list-item:hover .movie-watch{
  opacity: 1;
}

.movie-name{
  transition: all 1s ease-in-out;
  font-size: 32px;
  font-weight: bold;
  color: white;
  background-color: #333;
  position: absolute;
  top: 10%;
  left: 50px;
  opacity: 0;
}

.movie-desc{
  transition: all 1s ease-in-out;
  color: white;
  background-color: #333;
  position: absolute;
  font-size: 12px;
  width:230px;
  top: 30%;
  left: 50px;
  opacity: 0;
}

.movie-watch{
  transition: all 1s ease-in-out;
  background-color: #4dbf00;
  color: white;
  padding: 10px 20px;
  border-radius: 10px;
  border: none;
  outline: none;
  font-weight: bold;
  position: absolute;
  bottom: 10%;
  left: 50px;
  opacity: 0;
}

.movie-list-item:hover .movie-watch{
  cursor: pointer;
}

.arrow{
  font-size: 120px;
  position: absolute;
  color: lightgray;
  top: 50px;
  right: 0;
  opacity: 0.3;
  cursor: pointer;
}

@media only screen and (max-width: 940px) {
  .menu-container{
    display: none;
  }

}
